.videos-overview {
  padding-top: 40px;

  .container {

    #video-wrapper{
      display: inline-table;
    }

    .video {
      margin-bottom: 60px;
      transition: 1s all;

      &-top {
        transition: top 1s;
        position: fixed;
        top: 0;
        height: 100px;
        z-index: 10000;

        .jwplayer.jw-flag-aspect-mode {
          height: 100px !important;
          width: 200px !important;
        }

        .jw-logo, .jw-sharing-dock-btn, .jw-slider-time, .jw-icon-volume {
          display: none;
        }

      }

      #video-player {
        .jw-controlbar.jw-background-color.jw-reset {
          background: transparent;
          border-top: none;
        }
        .jw-text.jw-dock-text.jw-reset {
          display: none;
          background: transparent;
        }
        .jw-skin-seven .jw-dock .jw-dock-button {
          border: none;
        }
        .jw-slider-time.jw-background-color.jw-reset.jw-slider-horizontal.jw-reset {
          background: transparent;
        }
        .jw-progress {
          background: $theme_red;
        }
        .jw-skin-seven .jw-controlbar-right-group .jw-icon-inline:before, .jw-skin-seven .jw-controlbar-right-group .jw-icon-tooltip:before {
          border: none;
        }
        .jw-slider-volume {
          background: transparent;
          border: none;
        }
        .jw-buffer {
          background: rgba(255, 255, 255, .4);
        }
        .jw-rail {
          background: rgba(255, 255, 255, .4);
        }
        .jw-knob {
          box-shadow: none;
        }
        .jw-icon-tooltip:before {
          border-left: none;
        }
        .jw-sharing-dock-btn {
          .jw-background-color {
            background: none;
          }
        }
        .jw-background-color {
          background: none;
          border: none;
        }
        .jw-icon-fullscreen:before {
          border-left: none !important;
        }
      }
    }

    .header {
      h2 {
        color: $theme_red !important;
        font-family: Hind !important;
        font-size: 42px !important;
        font-weight: 300 !important;
        letter-spacing: -0.5px !important;
        margin: 10px 0 !important;
      }
    }

    .text {
      display: inline-block;
      margin-top: 20px;
      padding-bottom: 10px !important;

      p {
        color: $gray_footer !important;
        font-size: 16px !important;
        line-height: 31px !important;
        display: block !important;
      }

      p:last-child {
        padding-bottom: 0px;
      }

    }

    .topics {
      display: inline-block;
      padding-bottom: 20px !important;

      h4 {
        margin: 0 !important;
        font-family: Montserrat !important;
        color: $theme_red !important;
        font-size: 14px !important;
        font-weight: bold !important;
        text-transform: uppercase !important;
        line-height: 30px !important;
        letter-spacing: 1px !important;
        padding-bottom: 5px;
      }

      p {
        color: $gray_footer !important;
        font-size: 16px !important;
        line-height: 20px !important;
        padding-bottom: 15px;
      }

      .nopadding {
        padding-left: 0 !important;
        padding-right: 0 !important;
      }
    }
  }
}