#header-video {
  height: 500px;
  background-color: rgba(0, 0, 0, 0.5);

  h2 {
    font-family: "Hind" !important;
    position: relative;
    color: $white !important;
    font-weight: 700 !important;
    letter-spacing: -0.5px;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    font-size: 66px !important;
    margin: 0 !important;
    padding-top: 200px !important;
  }
}