//GRID
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

//COLORS
$theme: #2979ff;
$theme_hover: #266fe3;
$theme_lighten: rgba(41, 121, 255, 0.81);

$theme_green: #00e676;
$theme_red: #FF1744;
$theme_yellow: #FFC400;

$gray: #bbbbbb;
$gray_icons: #C0C0C0;
$dark_gray: #A8A8A8;
$light_gray: #DDDDDD;
$background_gray: #e8e9ed;
$background_light_gray: #F9F9F9;
$gray_border: #e8e9ed;
$gray_cards: #888;
$gray_card: #333;

$black: #2b2e33;
$light_black: #9A9A9A;

$white: #FFFFFF;
