//GRID
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

//COLORS
$blue: #2979ff;
$blue_hover: #266fe3;
$blue_lighten: rgba(41, 121, 255, 0.81);

$gray: #bbbbbb;
$dark_gray: #A8A8A8;
$light_gray: #DDDDDD;
$background_gray: #e8e9ed;

$black: #2b2e33;
$light_black: #9A9A9A;

$white: #FFFFFF;

$red: #FF1744;
$green: #00E676;
$yellow: #FFC400;