.comments {
  margin-top: 60px;

  .old-comments {
    padding-bottom: 40px;
  }

  .new-comments {
    padding-top: 40px;

    h3 {
      font-family: Hind !important;
      font-size: 32px !important;
      line-height: 32px !important;
      font-weight: 700 !important;
      margin-bottom: 50px !important;
    }
  }

  .divider {
    width: 100%;
    height: 1px;
    background: $gray_cards;
  }

  .media-body {
    a {
      color: $theme_green !important;
      text-transform: none !important;
      transition: all 0.2s;

      &:hover {
        color: $theme_green_hover !important;
      }
    }

    .yellow {
      color: $theme_yellow !important;

      &:hover {
        color: $theme_yellow_hover !important;
      }
    }

    .red {
      color: $theme_red !important;

      &:hover {
        color: $theme_red_hover !important;
      }
    }
  }

  .media-post .media-body {
    width: 87% !important;
    float: right !important;
  }

  .media-area {
    h3 {
      font-family: Hind !important;
      font-size: 56px !important;
      font-weight: bold !important;
      margin-bottom: 60px !important;
    }
    @media screen and (max-width: $screen-sm-min) {
      h3 {
        font-size: 40px !important;
      }
    }
    @media screen and (max-width: $screen-xs-min) {
      h3 {
        font-size: 35px !important;
      }
    }
    i {
      color: $black;
    }
  }

  .media {
    padding-bottom: 10px;
    margin-top: 30px;

    .avatar {
      margin: 0 auto !important;
      width: 64px !important;
      height: 64px !important;
      overflow: hidden !important;;
      border-radius: 50% !important;
      margin-right: 15px !important;
      border: 3px solid transparent !important;

      img {
        width: 100%;
      }
    }

    .media-heading {
      margin-bottom: 0px !important;
      margin-top: 5px !important;
      display: inline-block !important;
      font-size: 16px !important;
      font-weight: 600 !important;
      cursor: pointer;
      transition: all .2s;

      &:hover {
        color: $theme_green;
      }

      &-yellow {
        &:hover {
          color: $theme_yellow;
        }
      }

      &-red {
        &:hover {
          color: $theme_red;
        }
      }
    }

    .control-date {
      margin-bottom: 30px !important;
      .media-date {
        font-size: 13px !important;
        color: $gray_cards !important;
      }
    }

    .text-muted {
      margin: 10px 0;
      color: $gray_cards;
    }

    .btn-simple {
      padding: 0px 5px;
    }
    .media {
      margin-top: 30px;
    }
    &:last-child {
      border: 0;
    }

  }

  .media-post {
    color: #555;
    border: 0;

    .author {
      width: 10% !important;
    }

    .media-heading {
      display: block;
      text-align: center;
    }

    .media-body {
      width: 90%;
      float: left;
      display: inline-block;
    }

    .avatar {
      border-color: white;
    }

    &:last-child {
      border: 0;
    }

    .pagination-area {
      padding: 10px 0;
      text-align: center;
    }
  }

  .media-area-small {
    p {
      font-size: 14px;
    }
    .btn-simple {
      font-size: 14px;
    }
    .avatar {
      width: 58px;
      height: 58px;
    }
  }

  .media-body {

    p {
      color: $black !important;
      font-size: 16px !important;
    }

    textarea {
      margin: 0 0 10px 0;
      padding: 8px 16px 8px 16px !important;
      font-size: 16px;
      height: auto !important;
      resize: inherit;
      line-height: 1.7 !important;
    }

    ::-moz-placeholder {
      color: $gray_placeholder !important;
      opacity: 1;
      filter: alpha(opacity=100);
    }

    :-moz-placeholder {
      color: $gray_placeholder !important;
      opacity: 1;
      filter: alpha(opacity=100);
    }

    ::-webkit-input-placeholder {
      color: $gray_placeholder !important;
      opacity: 1;
      filter: alpha(opacity=100);
    }

    :-ms-input-placeholder {
      color: $gray_placeholder !important;
      opacity: 1;
      filter: alpha(opacity=100);
    }
  }

  @media (max-width: 767px) {

    .media-post .author {
      width: 20% !important;
      float: none !important;
      display: block;
      margin: 0 auto 10px;
    }

    .media-post .media-body {
      width: 100%;
    }
  }

  .media-footer {
    .btn-comment {
      font-family: Montserrat !important;
      font-size: 12px !important;
      font-weight: bold !important;
      letter-spacing: 1px;
      text-transform: uppercase !important;
      color: $white !important;
      background: $black !important;
      border: $black !important;
      transition: all .4s;
      margin-bottom: 40px;

      &:hover {
        color: $white !important;
        background: $theme_green !important;
        border: $theme_green !important;
      }

      &-yellow {
        &:hover {
          color: $white !important;
          background: $theme_yellow !important;
          border: $theme_yellow !important;
        }
      }

      &-red {
        &:hover {
          color: $white !important;
          background: $theme_red !important;
          border: $theme_red !important;
        }
      }
    }
  }

}