.modal-dialog {
  margin-top: 70px !important;
}

.modal-backdrop {
  z-index: 2000000 !important;
}

.modal {
  z-index: 3000000 !important;
}

#nprogress {
  .spinner-icon {
    border-top-color: $theme !important;
    border-left-color: $theme !important;
    width: 24px !important;
    height: 24px !important;
  }
  .bar {
    background: $theme !important;
    height: 5px !important;
  }
  .peg {
    box-shadow: 0 0 10px $theme, 0 0 5px $theme !important;
  }
}

#news {
  #nprogress {
    .spinner-icon {
      border-top-color: $theme_green !important;
      border-left-color: $theme_green !important;
    }
    .bar {
      background: $theme_green !important;
    }
    .peg {
      box-shadow: 0 0 10px $theme_green, 0 0 5px $theme_green !important;
    }
  }
}

#projects {
  #nprogress {
    .spinner-icon {
      border-top-color: $theme_yellow !important;
      border-left-color: $theme_yellow !important;
    }
    .bar {
      background: $theme_yellow !important;
    }
    .peg {
      box-shadow: 0 0 10px $theme_yellow, 0 0 5px $theme_yellow !important;
    }
  }
}

#video {
  #nprogress {
    .spinner-icon {
      border-top-color: $theme_red !important;
      border-left-color: $theme_red !important;
    }
    .bar {
      background: $theme_red !important;
    }
    .peg {
      box-shadow: 0 0 10px $theme_red, 0 0 5px $theme_red !important;
    }
  }
}

::selection {
  background: $theme !important;
}

::-moz-selection {
  background: $theme !important;
}

#news {
  ::selection {
    background: $theme_green !important;
  }
  ::-moz-selection {
    background: $theme_green !important;
  }
}

#projects {
  ::selection {
    background: $theme_yellow !important;
  }
  ::-moz-selection {
    background: $theme_yellow !important;
  }
}

#video {
  ::selection {
    background: $theme_red !important;
  }
  ::-moz-selection {
    background: $theme_red !important;
  }
}

#progress-wrapper {
  position: fixed;
  top: 55px;
  display: none;
  z-index: 100000;
  bottom: inherit !important;
}

#news {
  #progress-element {
    background: $theme_green !important;
  }
}

#projects {
  #progress-element {
    background: $theme_yellow !important;
  }
}

#video {
  #progress-wrapper {
    top: 55px;
  }
  #progress-element {
    background: $theme_red !important;
  }
}

.fixed-title-video-ID {
  #progress-wrapper {
    top: 95px !important;
  }
}