.animated {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.hinges {
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -o-animation-duration: 2s;
  animation-duration: 2s;
}

.animated.slow {
  -webkit-animation-duration: 3s;
  -moz-animation-duration: 3s;
  -o-animation-duration: 3s;
  animation-duration: 3s;
}

.animated.snail {
  -webkit-animation-duration: 4s;
  -moz-animation-duration: 4s;
  -o-animation-duration: 4s;
  animation-duration: 4s;
}

@-webkit-keyframes shake {
  0%, 100% {
    -webkit-transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    -webkit-transform: translateX(10px);
  }
}

@-moz-keyframes shake {
  0%, 100% {
    -moz-transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    -moz-transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    -moz-transform: translateX(10px);
  }
}

@-o-keyframes shake {
  0%, 100% {
    -o-transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    -o-transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    -o-transform: translateX(10px);
  }
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}

.login {
  .box {
    border: 0 !important;
    border-top: 0 !important;
    border-radius: 0 !important;
    padding: 0 !important;
    margin-bottom: 0 !important;
  }
  h4 {
    margin-bottom: 0 !important;
  }
  .form-control {
    padding: 13px 12px !important;
  }
}

.shake {
  -webkit-animation-name: shake;
  -moz-animation-name: shake;
  -o-animation-name: shake;
  animation-name: shake;
}

.login .modal-dialog {
  width: 368px;
}

.login .modal-footer {
  border-top: 0;
  margin-top: 0;
  padding: 0 20px 20px;
}

.login .modal-footer {
  padding-top: 0 !important;
}

.login .modal-header {
  border: 0 none;
  padding: 15px 15px 15px;
}

.login .division {
  float: none;
  margin: 0 auto 18px;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
}

.login .divisionEnd {
  float: none;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
  height: 20px;

}

.login .division .line {
  border-top: 1px solid #DFDFDF;
  position: absolute;
  top: 14px;
  width: 34%;
}

.login .divisionEnd .lineEnd {
  border-top: 1px solid #DFDFDF;
  position: absolute;
  top: 15px;
  width: 100%;
}

.login .division .line.l {
  left: 0;
}

.login .division .line.r {
  right: 0;
}

.login .division span {
  color: #424242;
  font-size: 17px;
}

.login .box .social {
  float: none;
  margin: 0 auto 30px;
  text-align: center;
  line-height: 0 !important;
}

.login .social .circle {
  background-color: #EEEEEE;
  color: $white;
  border-radius: 50%;
  display: inline-block;
  margin: 0 17px;
  padding: 15px;
}

.login .social .circle .fa {
  font-size: 16px;
}

.login .social .facebook {
  background-color: #455CA8;
  color: $white;
  opacity: 0.9;
}

.login .social .google {
  background-color: #F74933;
  opacity: 0.9;
}

.login .social .twitter {
  background-color: #55acee;
  opacity: 0.9;
}

.login .facebook:hover {
  opacity: 1;
}

.login .google:hover {
  opacity: 1;
}

.login .twitter:hover {
  opacity: 1;
}

.login .forgot {
  color: #797979;
  margin-left: 0;
  overflow: hidden;
  text-align: center;
  width: 100%;
  padding-top: 15px !important;
}

.register-footer {
  padding-top: 0 !important;
}

.login .btn-login,
.registerBox .btn-register,
.registerBox-2 .btn-register {
  background-color: $theme;
  border-color: $theme;
  border-width: 0;
  color: $white;
  display: block;
  margin: 0 0 auto;
  padding: 15px 50px;
  text-transform: uppercase;
  width: 100%;
  border-radius: 3px;
}

.login .btn-login:hover,
.registerBox .btn-register:hover,
.registerBox-2 .btn-register:hover {
  background-color: $theme_hover;
  color: $white;
}

.login .form-control {
  border-radius: 3px;
  background-color: white;
  box-shadow: none !important;
  color: $white;
  border: 1px solid $light_gray !important;
}

.login .form-control:focus {
  color: $white;
  background-color: $white;
  border: 1px solid $light_black !important;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0 !important;
}

.login .box .form input[type="text"], .login .box .form input[type="password"] {
  border-radius: 3px;
  border: none;
  color: #333333;
  font-size: 16px;
  height: 46px;
  margin-bottom: 5px;
  padding: 13px 12px;
  width: 100%;
}

@media (max-width: 400px) {
  .login .modal-dialog {
    width: 100%;
  }
}

.btn:focus, .btn:active:focus {
  color: $white !important;
  outline: none !important;
  outline-offset: 0 !important;
  box-shadow: none !important;
}

/*      Checkbox and radio         */
.checkbox {
  margin-bottom: 12px;
  padding-left: 32px;
  position: relative;
  -webkit-transition: color 0.25s linear;
  transition: color 0.25s linear;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.5;
  color: #333333;
  cursor: pointer;
}

.checkbox input {
  outline: none !important;
  display: none;
}

.checkbox .icons {
  color: #DDDDDD;
  display: block;
  height: 20px;
  left: 0;
  position: absolute;
  top: 0;
  width: 20px;
  text-align: center;
  line-height: 21px;
  font-size: 20px;
  cursor: pointer;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

.checkbox .icons .first-icon,
.checkbox .icons .second-icon {
  display: inline-table;
  position: absolute;
  left: 0;
  top: 0;
  background-color: transparent;
  margin: 0;
  opacity: 1;
  filter: alpha(opacity=100);
}

.checkbox .icons .second-icon {
  opacity: 0;
  filter: alpha(opacity=0);
}

.checkbox:hover {
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

.checkbox:hover .first-icon {
  opacity: 0;
  filter: alpha(opacity=0);
}

.checkbox:hover .second-icon {
  opacity: 1;
  filter: alpha(opacity=100);
}

.checkbox.checked {
  color: $theme;
}

.checkbox.checked .first-icon {
  opacity: 0;
  filter: alpha(opacity=0);
}

.checkbox.checked .second-icon {
  opacity: 1;
  filter: alpha(opacity=100);
  color: $theme;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

.checkbox.disabled {
  cursor: default;
  color: $light_gray !important;
}

.checkbox.disabled .icons {
  color: $light_gray !important;
}

.checkbox.disabled .first-icon {
  opacity: 1;
  filter: alpha(opacity=100);
}

.checkbox.disabled .second-icon {
  opacity: 0;
  filter: alpha(opacity=0);
}

.checkbox.disabled.checked .icons {
  color: $light_gray;
}

.checkbox.disabled.checked .first-icon {
  opacity: 0;
  filter: alpha(opacity=0);
}

.checkbox.disabled.checked .second-icon {
  opacity: 1;
  filter: alpha(opacity=100);
  color: $dark_gray;
}

.login {
  .col-lg-12, .col-lg-6, .col-xs-12, .col-xs-6 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.recover-password {
  margin-top: 10px;
  display: inline-block;
  line-height: normal;
}

label {
  margin-bottom: 25px !important;
}

.btn-default {
  &:focus {
    background-color: $theme_hover !important;
  }
}

.registerBox-2 {
  .progress {
    margin-bottom: 5px !important;
  }
  .nome_signupEnd {
    margin-top: 15px;
  }
  .input-group-addon {
    padding: 13px 12px !important;
  }
  label {
    margin-bottom: 0 !important;
  }
  #utilizador_signupEnd {
    margin-bottom: 0 !important;
  }
  .input-group-addon {
    margin-bottom: 5px !important;
  }
  .btn-register {
    margin-top: 25px;
  }
  .agree-box {
    .form-control-feedback {
      line-height: 24px !important;
    }
    .glyphicon-ok {
      display: none !important;
    }
  }
}

.registerBox {
  .btn-register {
    margin-top: 25px;
  }
}