.card {
  border-radius: 4px;
  background-color: $white;
  margin-bottom: 20px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, .08) !important;
  cursor: pointer;
  overflow: hidden;
  position: relative;

  .image {
    width: 100%;
    overflow: hidden;
    height: 260px;
    border-radius: 4px 4px 0 0;
    position: relative;
    background-size: cover;
    transition: .3s;

    img {
      width: 100%;
      border-radius: 4px 4px 0 0;
    }
  }
  &:hover {
    .image {
      transform: scale(1.1);
      border-radius: 4px 4px 0 0;
    }
  }

  .image .filter {
    position: absolute;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.68);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    opacity: 0;
    filter: alpha(opacity=0);
  }
  .filter .btn {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .btn-hover {
    opacity: 0;
    filter: alpha(opacity=0);
  }

  .content {
    padding: 15%;
    height: 300px;
  }

  .category {
    font-size: 13px !important;
    color: $gray_cards;
    margin-bottom: 12px;

    i {
      font-size: 16px;
    }
  }

  .title {
    margin: 0 0 10px 0 !important;
    color: $black !important;
    font-weight: 700 !important;
    font-family: "Hind" !important;
    font-size: 32px !important;
    line-height: 32px !important;
  }

  .excerpt {
    font-size: 15px !important;
    color: $gray_cards !important;
    line-height: 26px !important;
  }

  .avatar {
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 5px;
  }

  .description {
    font-size: 14px;
    color: #333;
  }

  .footer {
    background-color: transparent;
    line-height: 30px;
    padding: 6px 21px !important;
    border-top: 1px solid rgba(0, 0, 0, 0.06);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    div {
      display: inline-block;
    }

    .info-card {
      color: $gray_cards !important;
      margin-top: 4px;
      i {
        &:hover {
          color: $theme_green;
        }
      }
    }

  }

  .stats {
    margin-right: 5px;
    color: #9A9A9A;
    .pull-right {
      margin-left: 0;
      margin-top: 4px;
    }
  }

  .card-link {
    color: #9A9A9A;
    cursor: pointer;
    span {
      margin-top: 2px;
      color: $gray_cards !important;
      font-size: 12px;
    }
  }

  .author {
    font-size: 12px;
    font-weight: normal;
    i {
      font-size: 14px;
    }
    a {
      span {
        &:hover {
          color: $theme_green !important;
        }
      }
    }
  }

  h6 {
    font-size: 12px;
    margin: 0;
  }

  .card-separator {
    &:after {
      height: 100%;
      right: -15px;
      top: 0;
      width: 1px;
      background-color: #DDDDDD;
      content: "";
      position: absolute;
    }
  }

  .control-image {
    overflow: hidden;
    position: relative;
  }

  .theme {
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 10;
    border-radius: 100px;
    font-family: "Hind";
    text-transform: uppercase !important;
    letter-spacing: 1px;
    font-size: 12px;
    font-weight: 800;
    border: 2px solid rgba(255, 255, 255, 0.5);
    transition: all 0.2s ease;
    padding: 3px 10px 0 10px;
    display: inline-block;
    line-height: 20px;
    a {
      color: $white !important;
    }
    &:hover {
      background: $theme_green;
      border: 2px solid $theme_green;
    }
  }

  &:hover {
    .filter {
      opacity: 1;
      filter: alpha(opacity=100);
    }
    .btn-hover {
      opacity: 1;
      filter: alpha(opacity=100);
    }
  }
}

.card-quote {
  border-radius: 4px;
  margin-bottom: 20px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, .08) !important;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  background: $theme_green;
  transition: all 0.2s linear 0s;
  -moz-transition: all 0.2s linear 0s;
  -o-transition: all 0.2s linear 0s;
  -webkit-transition: all 0.2s linear 0s;
  &:hover {
    background: $gray_card;
  }
  .content {
    padding: 17% !important;
    display: block;
    z-index: 10;
    left: 0;
    h4 {
      color: $white;
      font-family: "Hind" !important;
      font-size: 26px !important;
      font-weight: bold !important;
      margin: 15px 0 !important;
    }
    span {
      color: $white;
      font-size: 16px;
    }
  }
  .quote {
    position: absolute;
    bottom: 10px;
    right: 15px;
  }
}

.card-user {
  margin-bottom: 20px;

  .image {
    height: 110px;
  }
  .image-plain {
    height: 0;
    margin-top: 110px;
  }
  .author {
    text-align: center;
    text-transform: none;
    margin-top: -70px;
  }
  .avatar {
    width: 124px;
    height: 124px;
    border: 5px solid $white;
    position: relative;
    margin-bottom: 15px;
  }
  .avatar.border-gray {
    border-color: #EEEEEE;
  }
  .title {
    line-height: 24px;
  }
  .content {
    min-height: 240px;
  }
}

.card-many {
  .image {
    height: 500px;
    border-radius: 4px !important;
    &:hover {
      border-radius: 4px !important;
    }
  }
  .title {
    margin: 0;
  }
  .footer {
    line-height: 40px;
    margin: 0;
    bottom: 0;
    position: absolute;
    z-index: 10;
    width: 100%;
    background: transparent !important;
    border-color: rgba(255, 255, 255, 0.15);
    .author {
      a {
        span {
          color: $white !important;
          &:hover {
            color: $theme_green !important;
          }
        }
      }
    }
    .stats {
      .card-link {
        color: $white !important;
      }
    }
  }
  .carousel-control {
    width: 40px;
    text-shadow: 0 0 0;
    color: $white !important;
    opacity: .9;
    filter: alpha(opacity=90);
    display: inline-table;
    font-size: 45px;
    right: 0 !important;
    left: inherit;
    top: -14px;
    position: relative !important;
  }
  .carousel-control.left {
    position: relative !important;
    right: 27px !important;
  }
  .carousel-control.right {
    position: relative !important;
  }

  .controlos {
    .carousel-control.left .icone {
      &:hover {
        &:after {
          -webkit-transform: translateX(-14px);
          transform: translateX(-14px);
          opacity: 1;
        }
      }
    }
    .carousel-control.right .icone {
      &:hover {
        &:after {
          -webkit-transform: translateX(-33px);
          transform: translateX(-33px);
          opacity: 1;
        }
      }
    }
  }

  .carousel-control.left .icone {
    color: $white !important;

    &:after {
      display: block;
      content: ' ';
      position: relative;
      width: 24px;
      height: 2px;
      background-color: #fff;
      top: -24px;
      opacity: 0;
      left: 22px;
      cursor: pointer;
      -webkit-transform: translateX(-20px);
      transform: translateX(-20px);
      transition: all 0.20s cubic-bezier(0.12, 0.75, 0.4, 1);
      -webkit-transition: all 0.20s cubic-bezier(0.12, 0.75, 0.4, 1);
    }
  }

  .carousel-control.right .icone {
    color: $white !important;
    &:after {
      display: block;
      content: ' ';
      position: relative;
      width: 24px;
      height: 2px;
      background-color: #fff;
      top: -24px;
      opacity: 0;
      left: 23px;
      cursor: pointer;
      -webkit-transform: translateX(-20px);
      transform: translateX(-20px);
      transition: all 0.20s cubic-bezier(0.12, 0.75, 0.4, 1);
      -webkit-transition: all 0.20s cubic-bezier(0.12, 0.75, 0.4, 1);
    }
  }
  .carousel-control:hover, .card-many .carousel-control:focus {
    opacity: 1;
    filter: alpha(opacity=100);
  }
  .carousel-inner {
    height: 100%;
    .item {
      height: 100%;
      border-radius: 4px !important;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, .08) !important;
      &:before {
        background-color: rgba(0, 0, 0, 0.43) !important;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 11;
        content: ' ';
        border-radius: 4px;
      }
      img {
        height: 100%;
        width: auto;
        border-radius: 4px;
      }
    }
  }
  .controlos {
    position: absolute;
    top: 0;
    right: 5px;
  }
  .slide-number {
    position: relative;
    bottom: 28px;
    right: 15px;
    color: $white;
    font-weight: bold;
  }
  .content {
    position: absolute;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    .category {
      color: $white !important;
    }
    h4 {
      color: $white !important;
    }
    .excerpt {
      color: $white !important;
    }
  }
}

.card-video {
  .play {
    color: $white;
    font-size: 45px;
    position: absolute;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    left: 50%;
    border-radius: 50%;
    background: $theme_green;
    width: 70px;
    height: 70px;
    span {
      position: absolute;
      transform: translateY(-50%) translateX(-50%);
      top: 50%;
      left: 55%;
    }
  }
}

.card-splash {
  .image {
    height: 500px;
    &:after{
      background-color: rgba(0, 0, 0, 0.43) !important;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 11;
      content: ' ';
    }
  }
  .carousel-control:hover, .card-many .carousel-control:focus {
    opacity: 1;
    filter: alpha(opacity=100);
  }
  .carousel-inner {
    height: 100%;
    .item {
      height: 100%;
      border-radius: 4px !important;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, .08) !important;
      &:before {
        background-color: rgba(0, 0, 0, 0.43) !important;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 11;
        content: ' ';
      }
      img {
        height: 100%;
        width: auto;
      }
    }
  }
  .link {
    position: absolute;
    bottom: 0;
    color: $white !important;
    z-index: 20;
    padding: 15%;
    text-transform: uppercase;
    font-size: 12px;
    font-family: "Montserrat";
    font-weight: bold;
    letter-spacing: 1px;

    .arrow {
      line-height: 26px !important;
      font-size: 14px !important;
      font-family: FontAwesome !important;
      opacity: 1;
      position: relative;
      display: inline-block;
      margin-left: 16px;
      top: 2px;
      transition: all 0.35s cubic-bezier(0.12, 0.75, 0.4, 1);
      overflow: visible;
      height: 26px;
      width: 26px;
      border-radius: 100px;
      text-align: center;
      border: 2px solid rgba(255, 255, 255, 0.4);

      &:before {
        content: "\f105";
        color: #fff;
        top: -2px;
        right: -1px;
        display: block;
        transition: all 0.35s cubic-bezier(0.12, 0.75, 0.4, 1);
        position: relative;
      }

      &:after {
        display: block;
        content: ' ';
        position: absolute;
        width: 26px;
        height: 1px;
        background-color: #fff;
        opacity: 0;
        left: -6px;
        cursor: pointer;
        transition: all 0.35s cubic-bezier(0.12, 0.75, 0.4, 1);
        pointer-events: none;
        top: 11px;
        transform: translateX(-27px);
      }
    }
  }
  &:hover {
    .link {
      .arrow {
        border-color: transparent;
        &:before {
          transform: translateX(9px);
        }
        &:after {
          opacity: 1;
          transform: translateX(2px);
          -webkit-transform: translateX(2px);
        }
      }
    }
    &:after {
      transform: scaleX(1) translateZ(0);
    }
  }
  &:after {
    display: block;
    position: absolute;
    content: ' ';
    width: 100%;
    height: 6px;
    left: 0;
    bottom: 0;
    background: $theme_green;
    z-index: 5;
    transform: scaleX(0) translateZ(0);
    transform-origin: 0 0;
    transition: 0.45s cubic-bezier(0.24, 1, 0.30, 1);
  }
  .content {
    position: absolute;
    z-index: 20;
    padding-bottom: 15%;
    h4 {
      color: $white !important;
    }
    .excerpt {
      color: $white !important;
      line-height: 30px !important;
      font-size: 16px !important;
    }
  }
}
