.news-text {
  padding-top: 40px;
  .container {
    .text {
      padding-bottom: 20px !important;

      p {
        color: $black !important;
        font-size: 16px !important;
        line-height: 31px !important;
        display: block !important;
        padding-bottom: 40px;
        margin: 0;
      }

      p:first-child .first-letter {
        font-size: 68px !important;
        line-height: 48px;
        color: $theme_green;
        float: left;
        padding-right: 10px;
        padding-top: 5px;
      }

      p:last-child{
        margin: 0;
        padding-bottom: 0px;
      }

      blockquote {
        border: none;
        color: $white;
        font-size: 18px;
        line-height: 30px;
        padding: 40px 55px;
        margin: 0 30px;
        position: relative;
        z-index: 1000;
        margin-bottom: 40px;

        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: $theme_green url('../images/icons/quotes.svg') top 5px left 12px no-repeat;
          background-size: 40px;
          transform: rotate(180deg);
          z-index: -1;
        }
      }
    }
  }
}