.alert {
  border: 0;
  border-radius: 0 !important;
  color: white;
  padding: 10px 15px;
  font-size: 14px;
}
.container .alert {
  border-radius: 4px;
}
.navbar .alert {
  border-radius: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 85px;
  width: 100%;
  z-index: 3;
}
.navbar:not(.navbar-transparent) .alert {
  top: 70px;
}

.alert-info {
  background-color: rgba(91, 202, 255, 0.98);
}

.alert-success {
  background-color: rgba(76, 217, 100, 0.98);
}

.alert-warning {
  background-color: rgba(255, 149, 0, 0.98);
}

.alert-danger {
  background-color: rgba(255, 76, 64, 0.98);
}

.i-am-new .list-group{
  z-index: 10000000000 !important;
}

.list-group-item-danger{
  color: $white !important;
  background: $theme_red !important;
}