.user-actions {

  &-force-align {
    margin-top: 90px;
  }

  .pull-left {
    > .btn {
      padding-left: 6px !important;
    }

    .btn {
      font-size: 22px;
      border: none;
      color: $black !important;

      span {
        padding-left: 7px;
        font-size: 15px;
      }
      .heart {
        color: $theme_green !important;

        &-yellow {
          color: $theme_yellow !important;
        }
        &-red {
          color: $theme_red !important;
        }
      }
    }
  }

  .pull-right {
    .btn {
      font-size: 22px;
      border: none;
      color: $black !important;
      padding: 8px 6px !important;
    }
    svg {
      margin-top: 10px;
      color: $black !important;
    }
  }
}