
.elements .section-header {
  margin: 75px 0 45px;
}

.section-header {
  margin: 130px 0 90px;
}

.section-header h2,
.section-header p {
  text-align: center;
}

.section-header p{
  color: $dark_gray;
  line-height: 32px;
  font-size: 18px;
}

.about-product .section-header {
  margin-top: 30px;
}

.wrap-in-work .section-header {
  margin-bottom: 50px;
}

.gallery-2 .section-header {
  margin-bottom: 10px;
}

.gallery-3 .section-header {
  margin-bottom: 10px;
}

.wrap-service-nav .section-header {
  margin-bottom: 0;
}


.application .section-header ul li {
  padding: 0 15px;
}
