.gallery {
  background: #EEE;
}

.gallery-cell {
  width: 66%;
  height: 200px;
  margin-right: 10px;
  background: #8C8;
  counter-increment: gallery-cell;
}

/* cell number */
.gallery-cell:before {
  display: block;
  text-align: center;
  content: counter(gallery-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}

.testimonials {
  border-top: 1px solid #e8e9ed;
  margin-bottom: 100px;
}
@media (min-width: 1200px) {
  .testimonials .owl-carousel .owl-controls .owl-buttons {
    width: 100%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
  }
  .home-header .btn-warning {
    margin-left: -45px;
  }
}
@media (max-width: 1199px) {
  .testimonials .owl-carousel .owl-controls .owl-buttons {
    text-align: center;
  }
}
.testimonials .owl-carousel .owl-controls .owl-buttons .owl-prev,
.testimonials .owl-carousel .owl-controls .owl-buttons .owl-next {
  background-repeat: no-repeat;
  display: inline-block;
  width: 50px;
  height: 50px;
  position: relative;
}
.testimonials .owl-carousel .owl-controls .owl-buttons .owl-prev {
  background-image: url("../images/arrow-left.png");
  left: -50px;
}
@media (max-width: 1199px) {
  .testimonials .owl-carousel .owl-controls .owl-buttons .owl-prev {
    left: -15px;
  }
}
.testimonials .owl-carousel .owl-controls .owl-buttons .owl-next {
  background-image: url("../images/arrow-right.png");
  right: -50px;
  float: right;
}
@media (max-width: 1199px) {
  .testimonials .owl-carousel .owl-controls .owl-buttons .owl-next {
    right: -15px;
    float: none;
  }
}