.home-header {
  height: 100vh;
  min-height: 100vh;
  width: 100%;
  display: block;
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.home-header a.btn-primary {
  margin-bottom: 40px;
}

@media (min-width: 2100px) {
  .home-header {
    background-position: center bottom, center top;
  }
}

.js-height-full{
  height: 100vh;
  min-height: 100vh;
}

.video-title {
  font-family: "Hind" !important;
  letter-spacing: -0.5px !important;
  font-weight: 700 !important;
  font-size: 56px !important;
  line-height: 56px !important;
}

.video-description {
  margin-top: 70px;
  font-family: "Hind" !important;
  font-size: 42px;
  line-height: 48px;
  font-weight: 300;
}

#arrow-header a {
  position: absolute;
  left: 0;
  right: 0;
  margin-top: -45px;
}

#arrow-header a span {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: -25px;
    width: 24px;
    height: 24px;
    border-left: 3px solid #fff;
    border-bottom: 3px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb05 1.5s infinite;
    animation: sdb05 1.5s infinite;
    box-sizing: border-box;
}

@-webkit-keyframes sdb05 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sdb05 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
