.corpo-docente {
  padding: 0 0 10px;
  position: relative;
  bottom: 200px;
  z-index: 100;
  margin-bottom: -140px;

  .team-item {
    position: relative;
    margin-bottom: 30px;
    .info {
      position: absolute;
      bottom: 0;
      padding-left: 20px;
      width: 100%;
      .name {
        position: relative;
        z-index: 900;
        color: $white;
        font-family: "Hind";
        font-size: 20px;
        font-weight: bold;
        transition: all 0.3s;
        opacity: 0;
      }
    }
    &:after {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      content: ' ';
      opacity: 0;
      display: block;
      transition: all 0.3s;
      background: linear-gradient(to top, rgba(51, 51, 51, 1) 0%, rgba(51, 51, 51, 0.8) 10%, rgba(51, 51, 51, 0) 100%);
    }
    &:hover {
      .info {
        .name {
          opacity: 1;
          margin-bottom: 20px;
        }
      }
      &:after {
        opacity: 1;
      }
    }

    @media screen and (max-width: $screen-sm-min) {
      .info {
        .name {
          opacity: 1;
          margin-bottom: 20px;
        }
      }
      &:after {
        opacity: 1;
      }
    }
  }
}