.home-footer {
  padding: 100px 0 0;
  text-align: center;
  background: linear-gradient(90deg, #585b64 0%, #2c2f38 100%);

  .nav {
    display: inline-block;
  }

  .nav-tabs-two > li a {
    border-bottom: 1px solid #e8e9ed;
    border-radius: 0;
    opacity: 1;
    transition: all 0.2s;
    &:hover {
      color: lighten(#a8a8a8, 20%) !important;
    }
  }

  .nav-tabs-two.nav-tab-inverse > li.active > a, #splash .nav-tabs-two.nav-tab-inverse > li.active > a:hover, #splash .nav-tabs-two.nav-tab-inverse > li.active > a:focus {
    color: white;
    border-bottom: 2px solid #e8e9ed;
  }

  .nav-tabs-two li:not(.active) a {
    border-color: rgba(255, 255, 255, 0.3);
  }
  .tab-content {
    margin: 70px 0 0;
  }
  .footer-header {
    margin-bottom: 50px;
  }
  .footer-header h2 {
    color: white;
  }
  .contact-item h5,
  .contact-item p {
    color: white;
  }

  .contact-item h5 {
    margin-top: 27px;
    font-family: "Hind";
    font-size: 30px;
  }

  .contact-item p{
    margin-bottom: 0;
    font-size: 16px;
  }

  form .form-control {
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 0;
    box-shadow: none;
    padding-left: 22px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 0;
    color: white;
    width: 100%;
  }

  form .form-control:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }

  form .btn {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .map-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 470px;
    border-radius: 10px;
  }
  .map-container:before, .map-container:after, .map:before, .map:after {
    position: absolute;
    display: block;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    content: '';
    z-index: 5;
    border-radius: 10px;
  }
  .map-container:before {
    top: -5px;
    left: 0;
    right: 0;
    height: 5px;
    border-radius: 10px;
  }
  .map-container:after {
    right: -5px;
    top: 0;
    bottom: 0;
    width: 5px;
    border-radius: 10px;
  }
  .map:before {
    bottom: -5px;
    left: 0;
    right: 0;
    height: 5px;
    border-radius: 10px;
  }
  .map:after {
    left: -5px;
    top: 0;
    bottom: 0;
    width: 5px;
    border-radius: 10px;
  }
  #map {
    width: inherit;
    height: inherit;
    border-radius: 10px;
  }
}