.popover {
  min-width: 280px;
  max-width: 330px;
}

.member-contact {
  padding: 32px 38px !important;
}

.member-info {
  padding: 28px 30px !important;
}

.member-info .large {
  font-size: 14px;
  font-weight: 400;
}